span.st-emotion-cache-10trblm.e1nzilvr1
{
    background-color: green;
    color: white;
    border-radius: 15px;
}
div.st-emotion-cache-nahz7x.e1nzilvr5>hr
{
    background-color: green;
}
img
{
    border-radius: 5%;
}